/* Global Styles */

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f4f6;
}

/* Fix for Tailwind preflight affecting Material icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Fix for Tailwind preflight adding borders to inputs */
input[matInput] {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Ensure MatIcon sizes are correct */
.mat-icon {
  vertical-align: middle;
}
