<div class="character-card-container">
  <div class="scene">
    <div class="card" [class.is-flipped]="currentMode === 'skills'">
      <div class="card__face card__face--front">
        <app-character-stats
          [character]="character()"
          (deleteRequest)="onDelete($event)"
          (refreshRequest)="onRefresh($event)"
          (showSkillsRequest)="switchToSkills()">
        </app-character-stats>
      </div>
      <div class="card__face card__face--back">
        <app-character-skills [character]="character()" (back)="switchToStats()">
        </app-character-skills>
      </div>
    </div>
  </div>
</div>
